$color-white: #ffffff;
$color-blue: #52b9e1;
$opacity1: rgba(82, 185, 225, 0.4);
$opacity2: rgba(0, 0, 0, 0.7);
$background-menu:-webkit-linear-gradient(top, #58bde5 0%, #4ab7e3 25%, #2babde 50%, #58bde5 75%, #4ab7e3 100%);
$background-menu2: #3db2e1;
$background-menu3:-webkit-linear-gradient(top, #69c4e8, #21a1d4);
$background-titre:-webkit-linear-gradient(top, #000810,	#051921);
$background-body: url('../img/wallpaper.jpg');
$border-color: #1c89b5;
