{% extends 'HamsterHubBundle:Base:index.html.twig' %}

{% block container %}
{% trans_default_domain 'FOSUserBundle' %}
{{ form_start(form, { 'action': path('fos_user_profile_edit'), 'attr': { 'class': 'fos_user_profile_edit' } }) }}
  <div class="modal-content">
    {{ form_widget(form) }}
    <div>
        <input type="submit" value="{{ 'profile.edit.submit'|trans }}" />
    </div>
  </div>
{{ form_end(form) }}
{% endblock %}
