{% extends 'HamsterHubBundle:Base:head.html.twig' %}

<body>
  {% extends 'HamsterHubBundle:Base:header.html.twig' %}
  {% extends 'HamsterHubBundle:Base:main.html.twig' %}
  {% extends 'HamsterHubBundle:Base:footer.html.twig' %}

  {% extends 'HamsterHubBundle:Base:javascript.html.twig' %}
</body>
</html>
