{% include 'HamsterHubBundle:Base:head.html.twig' %}
{% include 'HamsterHubBundle:Base:menu.html.twig' %}

<body>
  <div class="container">
    {% block container %}
      <span>Texte par défaut</span>
    {% endblock %}
  </div>
</body>
{% include 'HamsterHubBundle:Base:footer.html.twig' %}
