<nav id='cssmenu'>
    <ul>
       <li class='active'><a href='#'><span>Home</span></a></li>
       {% block Connexion %}<li><a href='#'><span>Connexion</span></a></li>{% endblock %}
       {% block Inscription %}<li><a href='#'><span>Inscription</span></a></li>{% endblock %}
       <li class='last'><a href='#'><span>Contact</span></a></li>
    </ul>
</nav>
